

body {

    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;

}


header {

    background-color: #004080;
    color: silver;
    padding: 20px;
    text-align: center;

}
nAv ul {

    list-style: none;
    text-align: center;
    margin: 0 ;
} 
nav ul li {
    display: inline;
    margin: 0 10px;
    font-weight:bold ;
}
nav ul li a {

    color: #fff;
    text-decoration: none;
}
section {
    background:white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}
h2{
    color:#004080;
    margin-bottom: 10px:
}

footer {
    text-align: center;
    margin-top: 20px;
    color:#555;
    font-size: 14px;
}
img {
    width: 500px;
    height: 300px;
}